* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: "Verdan",Arial,sans-serif;
    background-color: rgb(39, 38, 38);
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;

    text-align: center;
    

}

.calculator span {
    color: aliceblue;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;


}

.display_screen{
    background-color: rgb(27, 25, 25);
    border-radius: 10px;
    color: white;

}
#display {
    height: 150px;
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
    border-radius: 10px;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 10px;
    margin: 5px;
    font-size: 17px;
    cursor: pointer;
    transition: all 200ms ease;
    background-color: rgb(241, 71, 9);
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}



#clear{
    background-color: #535cF1;
}

